@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 0;
    gap: 1.5rem;
  }
  .grid-item:nth-child(2) {
    transform: scale(1);
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

@media (max-width: 768px) {
  header a img {
    width: 20px;
  }
  section h1.title {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  section .sub-title {
    /* font-size: 1rem; */
    font-weight: 300;
  }

  #container-right-div {
    gap: 1.5rem;
  }
}

@media (max-width: 640px) {
  section .sub-title {
    font-size: 1rem;
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
